$section_bg: #1f2225;
$font: 'Montserrat', sans-serif;

section.intro{
  background-color: $section_bg;
  height: 450px;
  display: flex;
  align-items: center;
  text-align: center;

  .section-content {
    margin: 0 auto;
  }

  h1.heading{
    font-size: 40px;
    color: white;
    font-family: $font;
    margin-bottom: 20px;
  }
}