@import "../variables";
/*$section_bg: #1f2225;
$default-font: 'Fira Sans', sans-serif;
$default-font: 'Open Sans', sans-serif;
$black_bg: #1f2225;
$border_color: rgba(76, 78, 81, 0.31);
$coral: #fb383c;
$border_width: 2px;*/

.layer {
  background-color: rgba(12, 16, 19, 0.85);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section.intro {
  //background: $section_bg url("/img/backgrounds/home/door2.jpg") no-repeat center;
  position: relative;
  height: 450px;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  border-bottom: $border_width solid $border_color;

  .section-content {
    margin: 0 auto;
    position: relative;
  }

  h1.heading {
    font-weight: 500;
    font-size: 40px;
    color: white;
    font-family: $default-font;
    margin-bottom: 20px;
  }
}

section.tasks {
  background: #090c0e url("/img/circle.png") no-repeat center;
  min-height: 400px;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;

  .heading {
    p {
      margin-top: 10px;
      i {
        color: white;
        background-color: transparent;
        padding: 10px 10px;
        display: inline-block;
        border-radius: 100px;
        box-shadow: 0px 0 5px #fb383c;
      }
    }
    h2 {
      color: white;
      margin: 20px 0 10px 0;
    }
  }

  .section-content {
    margin: 0 auto;
  }

  .key {
    margin-left: 10px;
  }

  .text-left {
    text-align: left;
  }
  .text-right {
    text-align: right;
  }

  .left-side {
    width: 43%;
    float: left;
    @media screen and (max-width: 700px) {
      width: 100%;
    }
  }

  .right-side {
    width: 43%;
    float: left;
    @media screen and (max-width: 700px) {
      width: 100%;
    }
  }

  .mid {
    width: 14%;
    float: left;
    @media screen and (max-width: 700px) {
      width: 100%;
      img {
        height: 100px;
      }
    }
  }
  .task-container {
    .heading {
      color: white;
      font-size: 16px;
      font-family: $default-font;
    }

    .task-number {
      color: $coral;

    }
    .desc {
      color: $default-text-color;
      text-align: justify;
      width: 70%;
      @media screen and (max-width: 700px) {
        width: 100%;
        text-align: center;
      }
    }

    .l {
      margin-left: 30%;
      @media screen and (max-width: 700px) {
        margin-left: 0;
      }
    }
    .r {
      margin-right: 30%;
      @media screen and (max-width: 700px) {
        margin-right: 0;
      }
    }

    p {
      margin: 15px 0 15px 0;
      font-family: $default-font;
      font-size: 13px;
      @media screen and (max-width: 700px) {
        margin: 10px 0 10px 0;
        text-align: center;
      }
    }
  }
}

section.statistics {

  display: flex;
  flex-wrap: wrap;
  .wrap {
    width: 100%;
    text-align: center;
    background-color: $section_bg;
    .count {
      color: white;
      font-size: 30px;
    }
    .desc {
      color: $default-text-color;
      font-size: 16px;
    }
    p {
      display: inline;
    }

    .content {
      padding: 20px 0 20px 0;
    }

    .bordered {
      box-sizing: border-box;
      border-left: $border-width solid $border_color;
      border-right: $border-width solid $border_color;
      @media screen and (max-width: 700px) {
        border-left: none;
        border-right: none;
        border-top: $border-width solid $border_color;
        border-bottom: $border-width solid $border_color;
      }
    }
  }

}