@import "../variables";

/*$section_bg: #1f2225;
$default-font: 'Fira Sans', sans-serif;
!*$default-font: 'Open Sans', sans-serif;
$black_bg: #1f2225;*!
$border_color: #4c4e51;
$coral: #fb383c;
$border_width: 1px;*/

section.intro {
  position: relative;
  height: 450px;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  border-bottom: $border_width solid $border_color;

  .section-content {
    margin: 0 auto;
    position: relative;
  }

  h1.heading {
    font-weight: 500;
    font-size: 40px;
    color: white;
    font-family: $default-font;
    margin-bottom: 20px;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }

}

/*.quest-bg {

  #mobile {
    display: none;
    background-position: center;
    background-size: cover;
    @media screen and (max-width: 768px) {
      display: block;
    }
    img {
      width: 100%;
      height: auto;
      vertical-align: middle;
      opacity: 0;
    }
  }

  #desktop {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    height: 650px;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  header {
    background-color: rgba(0, 0, 0, .3);
    @media screen and (max-width: 768px) {
      background-color: #1f2225;
    }
  }

}*/

.arrow {
  text-decoration: none;
  background-color: white;
  border: $border_width solid $border_color;
  //color: $default-text-color;
  padding: 5px 10px 5px 10px;
  font-size: 12px;

  &:visited {
    color: black;
  }

  &:hover {
    background-color: $black_bg;
    color: white;
  }
}