@import "../variables";

.booking-times-section {
  height: auto !important;
  padding-bottom: 25px;

  .desktop-times-wrap {
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;

      .date {
        background-color: rgba(189, 189, 189, 0.3);
        width: 10%;
        box-sizing: border-box;
        overflow: hidden;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .side-day-name {
          margin-top: 10px;
          padding-left: 10px;
          border-bottom: 4px solid white;
          p {
            text-align: left;
            padding: 5px 0 5px 0;
          }
        }
      }

      .times {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 90%;
        margin: auto;
        overflow-y: hidden;
        height: auto !important;

        .times-scroll {
          min-width: 1000px;

          .times-wrap {
            padding-top: 10px;
            height: 56px;
            border-bottom: 4px solid white;
            .times-row {
              display: flex;
              justify-content: flex-start;

              .time {
                padding: 5px 2px 6px 2px;
                box-sizing: border-box;
                text-align: center;
                border: 2px solid rgba(76, 78, 81, 0.5);
                font-size: 13px;
                border-radius: 15px;
              }

              .time:hover {
                background-color: black;
                color: white;
                border: 2px solid white;
              }

              div {
                cursor: pointer;
              }
            }

            .prices-row {
              display: flex;
              justify-content: flex-start;

              .price {
                text-align: center;
                width: 5.5%;
                height: 15px;
                box-sizing: border-box;
                margin-top: 5px;
                border-bottom: 1px solid rgba(76, 78, 81, 0.5);
              }
            }
          }

          .times-wrap:hover {
            background-color: rgba(200, 200, 200, 0.3);
            .time {
              background-color: white;
            }
          }
        }
      }
    }
  }

  &.desktop {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &.mobile {
    display: none;
    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }

    .date {
      background-color: rgba(189, 189, 189, 0.3);
      width: 100%;
      margin-top: 10px;
      //padding-left: 20px;
      padding-top: 20px;
      border-bottom: 4px solid white;
      p {
        text-align: left;
        //padding: 5px 0 5px 0;
      }
    }
    .time-line {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    .times {
      width: 70%;
      display: flex;
      flex-wrap: wrap;
      .time {
        margin: 7.5px 3.75px;
        padding: 7.5px 10.5px;
        line-height: 15px;
        box-sizing: border-box;
        text-align: center;
        border: 2px solid rgba(76, 78, 81, 0.5);
        font-size: 15px;
        border-radius: 15px;
      }

      .time:hover {
        background-color: black;
        color: white;
        border: 2px solid white;
      }
    }
    .price {
      width: 30%;
      display: flex;
      justify-content: center;
      margin: auto;
    }

  }

}

.quest-description {
  .text {
    width: 65%;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  .space {
    width: 5%;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  .info {
    width: 30%;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 768px) {
      width: 100%;
      margin-top: 20px;
    }
  }
}
.quest-bg {

  #mobile {
    display: none;
    background-position: center;
    background-size: cover;
    @media screen and (max-width: 768px) {
      display: block;
    }
    img {
      width: 100%;
      height: auto;
      vertical-align: middle;
      opacity: 0;
    }
  }

  #desktop {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    height: 650px;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  header {
    background-color: rgba(0, 0, 0, .3);
    @media screen and (max-width: 768px) {
      background-color: #1f2225;
    }
  }

}
section.intro {
  position: relative;
  height: 450px;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  border-bottom: $border_width solid $border_color;

  .section-content {
    margin: 0 auto;
    position: relative;
  }

  h1.heading {
    font-weight: 500;
    font-size: 40px;
    color: white;
    font-family: $default-font;
    margin-bottom: 20px;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }

}

.quest-map {
  height: 400px;
  width: 100%;
}