header {
  color: white;
  background-color: #1f2225;
  border-bottom: 1px solid #4c4e51;
  height: 70px;
}

header .logo {
  float: left;
  height: 70px;
  width: 200px;
  text-align: center;
  border-right: 1px solid #4c4e51;
}

header .logo img {
  height: 100%;
}

@media screen and (max-width: 420px) {
  header .logo {
    width: 50%;
    border: none;
    margin-left: 25%;
  }
}

header .address {
  line-height: 70px;
  text-align: center;
  font-size: 13px;
  padding-left: 25px;
  float: left;
  height: 70px;
}

@media screen and (max-width: 1080px) {
  header .address {
    display: none;
  }
}

header nav {
  height: 70px;
  margin: 0 auto;
  width: 100%;
  font-size: 13px;
}

header nav ul {
  background-color: #1f2225;
  float: right;
  list-style-type: none;
  display: inline-block;
  overflow: hidden;
}

@media screen and (max-width: 720px) {
  header nav ul {
    width: 100%;
  }
  header nav ul li {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  header nav ul ul.navigation.responsive {
    position: relative;
  }
  header nav ul ul.navigation.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  header nav ul ul.navigation.responsive li {
    float: none;
    display: inline;
  }
  header nav ul ul.navigation.responsive li a {
    display: block;
    text-align: left;
  }
}

header nav ul li {
  float: left;
}

header nav ul li:hover {
  background-color: #303439;
}

header nav ul a {
  padding: 0 30px 0 30px;
  color: white;
  line-height: 70px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

header nav ul a:hover {
  color: #fb383c;
}

@media screen and (max-width: 900px) {
  header nav ul {
    border-bottom: 1px solid #4c4e51;
  }
  header nav ul a {
    padding: 0 15px 0 15px;
  }
}

@media screen and (max-width: 720px) {
  header nav ul.responsive {
    position: relative;
    border-bottom: 1px solid #4c4e51;
  }
  header nav ul.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  header nav ul.responsive li {
    float: none;
    display: inline;
  }
  header nav ul.responsive li a {
    display: block;
    text-align: center;
  }
}

header .menu-dropdown {
  border-left: 1px solid #4c4e51;
  float: right;
  text-align: center;
  line-height: 70px;
  width: 70px;
}

header .menu-dropdown .cabinet-icon {
  font-size: 13px;
}

header .menu-dropdown .icon {
  display: none;
}

@media screen and (max-width: 720px) {
  header .menu-dropdown {
    border: none;
  }
  header .menu-dropdown p {
    display: none;
  }
  header .menu-dropdown p.icon {
    display: inline-block;
  }
  header .menu-dropdown p.icon a {
    color: white;
    text-decoration: none;
  }
}

.footer-wrapper {
  width: 100%;
  background-color: #1f2225;
  padding: 35px 0 35px 0;
}

.footer-wrapper footer {
  margin: 0 auto;
  width: 80%;
  border-top: 2px #4c4e51;
  overflow: auto;
}

.footer-wrapper footer .logo {
  width: 160px;
  height: 70px;
}

.footer-wrapper footer .logo img {
  height: 100%;
}

@media screen and (max-width: 420px) {
  .footer-wrapper footer .logo {
    margin: 0 auto;
  }
}

.footer-wrapper footer .footer-email {
  margin: 10px 0 10px 0;
  background-color: #1f2225;
  border: 1px solid #4c4e51;
  padding: 15px;
  color: #6c7176;
}

.footer-wrapper footer .footer-email:focus {
  box-shadow: 0 0 20px #4c4e51;
  outline: none !important;
}

.footer-wrapper footer p.heading {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 16px;
}

@media screen and (max-width: 420px) {
  .footer-wrapper footer p.heading {
    text-align: center;
  }
}

.footer-wrapper footer p {
  font-size: 13px;
  line-height: 200%;
  color: #6c7176;
}

.footer-wrapper footer div.section-content {
  margin: 20px 10px 0 0;
}

@media screen and (max-width: 750px) {
  .footer-wrapper footer .one-third {
    width: 100%;
    margin-bottom: 20px;
  }
}

.footer-wrapper footer.social {
  margin-top: 25px;
  padding-top: 25px;
  border-top: 2px solid #4c4e51;
}

.footer-wrapper footer.social .left {
  float: left;
}

@media screen and (max-width: 420px) {
  .footer-wrapper footer.social .left {
    width: 100%;
    text-align: center;
  }
}

.footer-wrapper footer.social .right {
  float: right;
}

@media screen and (max-width: 420px) {
  .footer-wrapper footer.social .right {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}

.footer-wrapper footer.social .right p {
  margin: 0 1px 1px 15px;
  display: inline-block;
  font-size: 16px;
}

.footer-wrapper footer.social .right p a {
  text-decoration: none;
  color: #6c7176;
}

.footer-wrapper footer.social .right p i {
  background-color: #16181a;
  padding: 10px 14px;
  display: inline-block;
  border-radius: 100px;
  box-shadow: 0px 0px 2px #2e3337;
}

.footer-wrapper footer.social .right p i#vk {
  padding: 10px 10px;
}

.footer-wrapper footer.social .right p i#insta {
  padding: 10px 12px;
}

.footer-wrapper footer.social .right p i:hover {
  color: white;
  background-color: #2e3337;
}

.quests {
  background-color: #0c1013;
  color: white;
}

.quests p {
  color: #cfcfcf;
}

.quests img {
  width: 100%;
  height: 100%;
}

.quests .wrap {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Open Sans", sans-serif;
}

.one-third {
  width: 33.33333333333333%;
  float: left;
}

@media screen and (max-width: 700px) {
  .one-third {
    width: 100%;
  }
}

section.white {
  background-color: #ebf2f6;
  height: 180px;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

section.white .heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}

section.white .section-content {
  margin: 0 auto;
}

section.white p {
  padding-bottom: 20px;
  text-align: center;
}

section.white p i {
  color: white;
  background-color: #fb383c;
  padding: 10px 10px;
  display: inline-block;
  border-radius: 100px;
  box-shadow: 0px 0px 2px #fb383c;
}

.quest-button {
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  border: none;
  font-size: 13px;
  color: white;
  padding: 10px 15px 10px 15px;
  background-color: #fb383c;
  border-radius: 3px;
}

.half {
  width: 50%;
  float: left;
}

@media screen and (max-width: 700px) {
  .half {
    width: 100%;
  }
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #090c0e;
  outline: 1px solid #090c0e;
}

/*# sourceMappingURL=app.css.map */
