.layer {
  background-color: rgba(31, 34, 37, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section.intro {
  position: relative;
  height: 450px;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  border-bottom: 2px solid rgba(76, 78, 81, 0.31);
}

section.intro .section-content {
  margin: 0 auto;
  position: relative;
}

section.intro h1.heading {
  font-weight: 500;
  font-size: 40px;
  color: white;
  font-family: "Fira Sans", sans-serif;
  margin-bottom: 20px;
}

section.tasks {
  background: #090c0e url("../img/circle.png") no-repeat center;
  min-height: 400px;
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
}

section.tasks .heading p {
  margin-top: 10px;
}

section.tasks .heading p i {
  color: white;
  background-color: transparent;
  padding: 10px 10px;
  display: inline-block;
  border-radius: 100px;
  box-shadow: 0px 0 5px #fb383c;
}

section.tasks .heading h2 {
  color: white;
  margin: 20px 0 10px 0;
}

section.tasks .section-content {
  margin: 0 auto;
}

section.tasks .key {
  margin-left: 10px;
}

section.tasks .text-left {
  text-align: left;
}

section.tasks .text-right {
  text-align: right;
}

section.tasks .left-side {
  width: 43%;
  float: left;
}

@media screen and (max-width: 700px) {
  section.tasks .left-side {
    width: 100%;
  }
}

section.tasks .right-side {
  width: 43%;
  float: left;
}

@media screen and (max-width: 700px) {
  section.tasks .right-side {
    width: 100%;
  }
}

section.tasks .mid {
  width: 14%;
  float: left;
}

@media screen and (max-width: 700px) {
  section.tasks .mid {
    width: 100%;
  }
  section.tasks .mid img {
    height: 100px;
  }
}

section.tasks .task-container .heading {
  color: white;
  font-size: 16px;
  font-family: "Fira Sans", sans-serif;
}

section.tasks .task-container .task-number {
  color: #fb383c;
}

section.tasks .task-container .desc {
  color: #6c7176;
  text-align: justify;
  width: 70%;
}

@media screen and (max-width: 700px) {
  section.tasks .task-container .desc {
    width: 100%;
    text-align: center;
  }
}

section.tasks .task-container .l {
  margin-left: 30%;
}

@media screen and (max-width: 700px) {
  section.tasks .task-container .l {
    margin-left: 0;
  }
}

section.tasks .task-container .r {
  margin-right: 30%;
}

@media screen and (max-width: 700px) {
  section.tasks .task-container .r {
    margin-right: 0;
  }
}

section.tasks .task-container p {
  margin: 15px 0 15px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

@media screen and (max-width: 700px) {
  section.tasks .task-container p {
    margin: 10px 0 10px 0;
    text-align: center;
  }
}

section.statistics {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

section.statistics .wrap {
  width: 100%;
  text-align: center;
  background-color: #1f2225;
}

section.statistics .wrap .count {
  color: white;
  font-size: 30px;
}

section.statistics .wrap .desc {
  color: #6c7176;
  font-size: 16px;
}

section.statistics .wrap p {
  display: inline;
}

section.statistics .wrap .content {
  padding: 20px 0 20px 0;
}

section.statistics .wrap .bordered {
  box-sizing: border-box;
  border-left: 2px solid rgba(76, 78, 81, 0.31);
  border-right: 2px solid rgba(76, 78, 81, 0.31);
}

@media screen and (max-width: 700px) {
  section.statistics .wrap .bordered {
    border-left: none;
    border-right: none;
    border-top: 2px solid rgba(76, 78, 81, 0.31);
    border-bottom: 2px solid rgba(76, 78, 81, 0.31);
  }
}

/*# sourceMappingURL=home.css.map */
