/*
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;*/
.booking-times-section {
  height: auto !important;
  padding-bottom: 25px;
  padding-top: 25px;
}

.booking-times-section .desktop-times-wrap {
  margin: auto;
  width: 100%;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.booking-times-section .desktop-times-wrap .row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
}

.booking-times-section .desktop-times-wrap .row .date {
  background-color: rgba(189, 189, 189, 0.3);
  width: 10%;
  box-sizing: border-box;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.booking-times-section .desktop-times-wrap .row .date .side-day-name {
  margin-top: 10px;
  padding-left: 10px;
  border-bottom: 4px solid white;
}

.booking-times-section .desktop-times-wrap .row .date .side-day-name p {
  text-align: left;
  padding: 5px 0 5px 0;
}

.booking-times-section .desktop-times-wrap .row .times {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 90%;
  margin: auto;
  overflow-y: hidden;
  height: auto !important;
}

.booking-times-section .desktop-times-wrap .row .times .times-scroll {
  min-width: 1000px;
}

.booking-times-section .desktop-times-wrap .row .times .times-scroll .times-wrap {
  padding-top: 10px;
  height: 56px;
  border-bottom: 4px solid white;
}

.booking-times-section .desktop-times-wrap .row .times .times-scroll .times-wrap .times-row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.booking-times-section .desktop-times-wrap .row .times .times-scroll .times-wrap .times-row .time {
  padding: 5px 2px 6px 2px;
  box-sizing: border-box;
  text-align: center;
  border: 2px solid rgba(76, 78, 81, 0.5);
  font-size: 13px;
  border-radius: 15px;
}

.booking-times-section .desktop-times-wrap .row .times .times-scroll .times-wrap .times-row .time:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
}

.booking-times-section .desktop-times-wrap .row .times .times-scroll .times-wrap .times-row div {
  cursor: pointer;
}

.booking-times-section .desktop-times-wrap .row .times .times-scroll .times-wrap .prices-row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.booking-times-section .desktop-times-wrap .row .times .times-scroll .times-wrap .prices-row .price {
  text-align: center;
  width: 5.5%;
  height: 15px;
  box-sizing: border-box;
  margin-top: 5px;
  border-bottom: 1px solid rgba(76, 78, 81, 0.5);
}

.booking-times-section .desktop-times-wrap .row .times .times-scroll .times-wrap:hover {
  background-color: rgba(200, 200, 200, 0.3);
}

.booking-times-section .desktop-times-wrap .row .times .times-scroll .times-wrap:hover .time {
  background-color: white;
}

@media screen and (max-width: 768px) {
  .booking-times-section.desktop {
    display: none;
  }
}

.booking-times-section.mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .booking-times-section.mobile {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}

.booking-times-section.mobile .date {
  background-color: rgba(189, 189, 189, 0.3);
  width: 100%;
  margin-top: 10px;
  padding-left: 20px;
  padding-top: 20px;
  border-bottom: 4px solid white;
}

.booking-times-section.mobile .date p {
  text-align: left;
}

.booking-times-section.mobile .time-line {
  width: 100%;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.booking-times-section.mobile .times {
  width: 70%;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.booking-times-section.mobile .times .time {
  margin: 7.5px 3.75px;
  padding: 7.5px 10.5px;
  line-height: 15px;
  box-sizing: border-box;
  text-align: center;
  border: 2px solid rgba(76, 78, 81, 0.5);
  font-size: 15px;
  border-radius: 15px;
}

.booking-times-section.mobile .times .time:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
}

.booking-times-section.mobile .price {
  width: 30%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  margin: auto;
}

.quest-description .text {
  width: 65%;
}

@media screen and (max-width: 768px) {
  .quest-description .text {
    width: 100%;
  }
}

.quest-description .space {
  width: 5%;
}

@media screen and (max-width: 768px) {
  .quest-description .space {
    display: none;
  }
}

.quest-description .info {
  width: 30%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .quest-description .info {
    width: 100%;
    margin-top: 20px;
  }
}

/*# sourceMappingURL=quest.css.map */
