@import "../variables";

section.gray {
  background: $gradient;
  color: $theme_font;
}

section.white {
  background: $gradient;
  color: $theme_font;
}

section.franchise-section {
  background-color: transparent !important;

  h3 {
    //color: $theme_font_secondary !important;
    color: $theme_font !important;
  }
  p {
    color: $theme_font !important;
  }
}

section {
  h1 {
    color: $theme_font;
  }
}

section.contact-info {
  h3 {
    color: $theme_font;
  }
  p {
    color: $theme_font;
  }
}

section.about-section {
  h1 {
    color: $theme_font;
  }
  p.text-muted {
    color: $theme_font;
  }
}

body {
  background: $gradient;
}

section.booking-times-section {
  .time {
    border: 1px solid rgba(255, 255, 255, 0.5) !important;
  }
  .date {
    .side-day-name {
      border-bottom: none !important;
    }
  }
  .times {
    .times-wrap {
      border-bottom: none !important;
    }
    .times-wrap:hover{
      //background-color: transparent !important;
      //background-color: rgba(200, 200, 200, 0.3);
     .time{
       background-color: transparent !important;
     }
    }
  }
  .prices-row {
    .price {
      border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important;
    }
  }
}

.quest-description {
  .info {
    background-color: rgba(255, 255, 255, .1) !important;
    p {
      color: $theme_font !important;
    }
  }
}