$black_bg: #1f2225;
$border_color: #4c4e51;
$coral: #fb383c;
$border_width: 2px;

.footer-wrapper {
  width: 100%;
  background-color: $black_bg;
  padding: 35px 0 35px 0;

  footer {
    margin: 0 auto;
    width: 80%;
    border-top: $border_width $border_color;
    overflow: auto;

    .logo {
      width: 160px;
      height: 70px;
      img {
        height: 100%;
      }
      @media screen and (max-width: 420px) {
        margin: 0 auto;
      }
    }

    .footer-email {
      margin: 10px 0 10px 0;
      background-color: $black_bg;
      border: 1px solid $border_color;
      padding: 15px;
      color: #6c7176;
    }

    .footer-email:focus {
      box-shadow: 0 0 20px $border_color;
      outline: none !important;
    }

    p.heading {
      font-family: 'Montserrat', sans-serif;
      color: white;
      font-size: 16px;
      @media screen and (max-width: 420px) {
        text-align: center;
      }
    }

    p {
      font-size: 13px;
      line-height: 200%;
      color: #6c7176;
    }

    div.section-content {
      margin: 20px 10px 0 0;
    }

    @media screen and (max-width: 750px) {
      .one-third {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }

  footer.social {
    margin-top: 25px;
    padding-top: 25px;
    border-top: $border_width solid $border_color;

    .left {
      float: left;
      @media screen and (max-width: 420px) {
        width: 100%;
        text-align: center;
      }
    }
    .right {
      float: right;
      @media screen and (max-width: 420px) {
        width: 100%;
        margin: 0 auto;
        text-align: center;
      }
      p {
        margin: 0 1px 1px 15px;
        display: inline-block;
        font-size: 16px;
        a {
          text-decoration: none;
          color: #6c7176;
        }
        i {
          background-color: #16181a;
          padding: 10px 14px;
          display: inline-block;
          -moz-border-radius: 100px;
          -webkit-border-radius: 100px;
          border-radius: 100px;
          -moz-box-shadow: 0px 0px 2px #2e3337;
          -webkit-box-shadow: 0px 0px 2px #2e3337;
          box-shadow: 0px 0px 2px #2e3337;
        }
        i:hover {
          color: white;
          background-color: #2e3337;
        }
      }
    }

  }

}