$black_bg: #1f2225;
$border_color: rgb(76, 78, 81);
$coral: #fb383c;
$header_height: 70px;
$border_width: 1px;

header {
  color: white;
  //background-color: $black_bg;
  background-color: rgba(31, 34, 37, 0.8);
  border-bottom: $border_width solid $border_color;
  height: $header_height;

  .logo {
    float: left;
    height: $header_height;
    width: 200px;
    text-align: center;
    border-right: $border_width solid $border_color;

    img {
      height: 100%;
    }
    @media screen and (max-width: 420px) {
      width: 50%;
      border: none;
      margin-left: 25%;
    }
  }

  .address {
    line-height: $header_height;
    text-align: center;
    font-size: 13px;
    padding-left: 25px;
    float: left;
    height: $header_height;
    @media screen and (max-width: 1080px) {
      display: none;
    }
  }

  nav {
    height: $header_height;
    margin: 0 auto;
    width: 100%;
    font-size: 13px;

    ul {
      //background-color: $black_bg;
      float: right;
      list-style-type: none;
      display: inline-block;
      overflow: hidden;

      @media screen and (max-width: 720px) {
        width: 100%;
        li {
          display: none;
        }
      }

      @media screen and (max-width: 720px) {
        ul.navigation.responsive {
          position: relative;
        }
        ul.navigation.responsive li.icon {
          position: absolute;
          right: 0;
          top: 0;
        }
        ul.navigation.responsive li {
          float: none;
          display: inline;
        }
        ul.navigation.responsive li a {
          display: block;
          text-align: left;
        }
      }

      li {
        float: left;
      }

      li:hover {
        background-color: #303439;

      }

      a {
        padding: 0 30px 0 30px;
        color: white;
        line-height: $header_height;
        display: inline-block;
        text-align: center;
        text-decoration: none;
      }
      a:hover {
        color: $coral;
      }

      @media screen and (max-width: 900px) {
        a {
          padding: 0 15px 0 15px;
        }
        border-bottom: $border_width solid $border_color;
      }
    }

    @media screen and (max-width: 720px) {
      ul.responsive {
        position: relative;
        border-bottom: $border_width solid $border_color;
      }
      ul.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      ul.responsive li {
        float: none;
        display: inline;
      }
      ul.responsive li a {
        display: block;
        text-align: center;
      }
    }

  }

  .menu-dropdown {
    border-left: $border_width solid $border_color;
    float: right;
    text-align: center;
    line-height: $header_height;
    width: 70px;
    .cabinet-icon {
      font-size: 13px;
    }
    .icon {
      display: none;
    }
    @media screen and (max-width: 720px) {
      border: none;
      p {
        display: none;
      }
      p.icon {
        display: inline-block;
        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}